/* Header */
.header {
  background-color: #4caf50;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 300px;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
  font-size: 1.8rem;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navbar.mobile {
  display: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

.footer a {
  color: #4caf50;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
    height: max-content;
  }

  .navbar {
    display: none;
  }
  .navbar.mobile {
    display: block;
  }
}
